{% extends "base.html" %}

{% block title %}Author List{% endblock %}

{% block content %}
<h1>Authors</h1>
<a href="{% url 'author-create' %}" class="btn btn-primary mb-3">Add New Author</a>
<ul class="list-group">
    {% for author in authors %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'author-detail' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a>
            <span>
                <a href="{% url 'author-update' author.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'author-delete' author.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </span>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'book-list' %}" class="btn btn-secondary mt-3">View Books</a>
{% endblock %}
